/*  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@300;700&family=Oswald:wght@300;500;600&family=Roboto&display=swap");


/* resets */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
    --primary-color: #fff ;
    --secondary-color:#d6e4e1 ;
    --accent-color: #2A8347;
    --bg-dark-color: #10372B ;
    --bg-accent-color: #155938;
    --bg-light-color: #2A8347;
}

ul li {
    list-style-type: none;
}


a:visited   {
    color: #fff;
}

/* utility class */

.container {
    max-width: 1100px;
    padding: 0 10px;  /* 0 15px */
    margin: 0 auto;
}

.flex   {
    display: flex;
}

.color-white {
    color: #fff;
}

.w-50 {
    width: 50%;
}

/* header */

header {
    position: fixed;
    z-index: 11111;
    background-color: #fff;
}

#main {
    padding-top: 170px;
}

.notification-bar   {
    text-align: center;
    position:   relative;

}
.notification-bar .container:first-child {
    color: #222;
    font-family: Roboto;
    font-size: 14px;
    padding: 10px;
}
#notiBar .container a,
.green-a {
    color: var(--accent-color);
}

#notiBar .container a:hover,
.green-a:hover {
    text-decoration: none;
}

#cross-btn  {
    width:  20px;
    height: 20px;
    background-color:   green;
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:   absolute;
    top:    10px;
    right:  40px;
    cursor: pointer;
}

/* header top-nav */

.top-nav    {
    width: 100vw;
    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
}
.top-nav .container {
    justify-content: space-between;
    align-items: center;
}

.top-nav-logo {
    justify-content: space-between;
}

#burger > img {
    width: 25px;
    height: 25px;
    display: none;
}

.menu-secondary-menu-container {
    display: flex;
    align-items: center;
}

.menu-secondary-menu-container ul {
    padding: 15px 0 0 0;
    display: flex;
}
.menu-secondary-menu-container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 600; 
    padding: 0px 31px;
    line-height: 35px;
    line-height: normal;
}

.menu-secondary-menu-container ul li:first-child {
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    padding: 10px 15px;
}

.menu-secondary-menu-container ul li {
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    background-color: rgb(8, 81, 45);
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    padding: 10px 15px;
}

/* ----------------------------------------- */

nav > .container {
    justify-content: space-between;
}

nav#nav-menu{
    width: 100vw;
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
    
}


nav .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the main menu */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    position: relative;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: block;
}

/* Style the sub-menus */
nav .sub-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-light-color);
    background-image: url('../images/pattern-bg.png');
    z-index: 1;
    padding: 15px 0;
}

nav li:hover > .sub-menu {
    display: block;
}
nav li:hover > .sub-menu li {
    width: 100%;
 }


 nav .container ul.menu > li:hover > a {
    background-color: var(--bg-light-color);
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    /* or */
    /*transform: skew(-15deg); */
}

/* ------------ */
.sub-menu > li:has(ul) {
    position: relative;
  }
  
  .sub-menu > li:has(ul)::before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/cat-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
/* ------------ */
nav li:hover > .sub-menu li:hover {
    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');
}

/* Style the third-level sub-menu */
.sub-menu .sub-menu {
    width: 160px;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0;
}

.sub-menu .sub-menu li {
    width: 100%;
}

/* nav form */

.nav-form {
    background-color: var(--bg-dark-color);
    margin: 8px 0;
}

nav form input[type="text"] {
    background: transparent;
    border: none;
    width: 125px;
}

.nav-btn {
    margin: 0;
    padding: 3px 7px 0 0;
    background-color: transparent;
    border: none;
}

#serach-permalink {
    width: 100%;
}

#searchInput {
    color: #fff;
    outline: none;
}

.color-black {
    color: #000;
}
.heading-404 {
    font-size: 3rem;
}
.p-404 {
    font-size: 1.75rem;
}

.image-404 {
    width: 100%
}

.image-404 img {
    width: 100%
}

.error-404 {
    font-size: 4rem;
}
/* ----------------------------------------- */

/* Hero slider */

.custom_slider .post_wrapper {
    width: 100%;
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    /* width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center; */
}
.post_wrapper::after {
    content: '';

    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');

    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.45;
}

.hero-container {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0;
    z-index: 1;
}
.left-hero-section {
    width: 50%;
}
.hero-title {
    text-decoration: none;
    color: #FFF;
    font-family: Oswald;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 100% */
}

.hero-title:hover   {
    color: #FFF;
    filter: brightness(1.2);
}

.hero-description  {
    color: #FFF;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.18px;
}

.right-hero-section {
    width: 50%;
    display: flex;
    justify-content: center;
}

.popup-wraper {
    width: 320px;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center ;
    top: 50%;
}

.popup-wraper a {
    width: 60px;
    height: 60px;
    background-color: #012C1F;
    opacity: 0.8;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.popup-wraper a img {
    width: 25px;
}

/* hero slick slider */
/* arrows */
.custom_slider > button.slick-next:before {
    content: '';
    width: 17px;
    height: 30px;
    background-image: url('../images/hero-slider-right-arrow.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    position: relative;
    right: 20vw;
    display: inline-block;
}

.custom_slider > button.slick-prev{
    display: block;
    position: absolute;

    z-index: 1000;
}
.custom_slider > button.slick-prev,
.custom_slider > button.slick-next {
    top: 45%    !important;
}
.custom_slider > button.slick-prev:before {
    content: '';
    width: 17px;
    height: 30px;
    background-image: url('../images/hero-slider-leftt-arrow.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
    left:   10vw;
    top: 10px;
    display: inline-block;
}

/* dots */
.slick-dots li button:before  {
    content: '' !important;
    width: 20px !important;
    height: 7px !important;
    background-color: rgb(166,145,145) !important;
}

.custom_slider > ul.slick-dots {
    position: absolute;
    bottom: 50px;
    z-index: 1000;  
}

/* ===== main section ===== */

#main {
    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 200px;
}

.main {
    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 200px;
    width: 100%;
    height: auto;
}

.main > .container {
    gap: 15px;
}


.else-sildebar {
    width: calc( 75% - 15px);
}

.sidebar {
    width: calc(25% - 15px);
    flex-direction: column;
    flex-wrap: wrap;
}


/* second post slider */

/* arrows */
.custom_slider_2 > button.slick-next:before {
    content: '';
    width: 17px;
    height: 30px;
    background-image: url('../images/hero-slider-right-arrow.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    display: inline-block;
}

.custom_slider_2 > button.slick-prev{
    display: block;
    position: absolute;

    z-index: 1000;
}

.custom_slider_2 > button.slick-prev:before {
    content: '';
    width: 17px;
    height: 30px;
    background-image: url('../images/hero-slider-leftt-arrow.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
}

.custom_slider_2 {
    width: 95%;
}

.slider-post-wraper {
    background-color: #15604B;
    background-image: url('../images/pattern-bg.png');
    background-size: 50px;
    margin: 15px;
    padding: 10px;
}

.post-thumbnail img {
    width: 144px;
    height: 144px;
    margin: 0 auto;
    }

.a-post-title{
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    color: #fff;    
    text-transform: lowercase;
    padding: 15px 0;
}

.a-post-title:hover {
    color: #fff;
    text-decoration: none;
}

.post-title::first-letter {
    text-transform: capitalize;
}

/* second slider arrows and dots */

.custom_slider_2 > ul.slick-dots {
    
}


/* sticky post */

.sticky-post {
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
    min-height: 240px;
    margin: 30px 0;
}

.sticky-content {
    padding: 30px 15px 15px 15px;
    width: 50%;
}

.sticky-content h3 {
    color: #FFF;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
}

.sticky-content p {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
}

.sticky-post-thumbnail {
    width: 50%;
}

.sticky-post-thumbnail a img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);

}


/* last three post section */

.last-post-wrapper {
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.post-item {
    width: calc(33.33% - 10px);
    min-height: auto ;
    background-color: var(--bg-light-color);
    background-image: url('../images/pattern-bg.png');
    position: relative;
}

.latest-post-thumbnail {
    width: 100%;
    height: 162px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-post-thumbnail a > img {
    object-fit: contain;
}

.the-title,
.the-title:active {
    color: #FFF;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 15px 0;
    padding: 0 10px;
    text-decoration: none;
}

.the-title h2 a {
    text-decoration: none;
    color: #fff;
}

.the-description {
    font-family: Roboto;
    font-size: 14px;
    opacity: 0.8;
    padding: 0 10px;
}

.btn-read-more {
    width: 100%;
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding: 10px ;
    font-family: Oswald;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.btn-read-more:hover {
    color: #FFF;
    text-decoration: underline;
}

/* social section */

.social-section {
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin-top: 10px;
}

.tweets {
    width: calc(50% - 10px);
}

.fb-page {
    width: calc(50% - 10px); 
}

.fb-page iframe  {
    width: 100% !important;
    height: 420px;
    border-radius: 15px;
}








/* footer  */

#colophon {
    width: 100%;
    height: auto;
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
}

footer > .container {
    padding: 40px 0;
    flex-wrap: wrap;
}
/* footer menu */
.footer-menu {
    width: 33.33%;
    text-align: center;
}

.footer-menu:first-line {
    font-family: Oswald;
    font-size: 24px; 
    font-weight: 500;
}

.footer-menu .menu-main-menu-container ul.menu {
    margin: 0;
    padding: 0;
}
 
.footer-menu .menu-main-menu-container ul.menu li::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url('../images/cat-arrow.png');
    background-repeat: no-repeat;
    margin-right: 7px;

}

.footer-menu .sub-menu {
    display: none;
}

.footer-menu .menu-main-menu-container ul.menu li {
    margin-bottom: 10px;
}

.footer-menu .menu-main-menu-container ul.menu li:hover {
    text-decoration: underline;
}

.footer-menu .menu-main-menu-container ul.menu li a {
    text-decoration: none;
    text-transform: uppercase !important;
    color: #fff;
}

/* footer links widget */
.footer-links-widget {
    width: 33.33%;
    text-align: center;
}

.footer-p-tag  {
    display: inline-block;
}

.footer-p-tag > p {
    cursor: pointer;
}
.footer-links-widget h4,
.footer-menu > h4 {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
}
.footer-p-tag > p > a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer-p-tag > p > a::before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../images/cat-arrow.png');
    background-repeat: no-repeat;
    display: inline-block;

}

.footer-logo-section {
    width: 33.33%;
    text-align: center;
}

.disclaimer {
    width: 100%;
    background-color: var(--bg-dark-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;

}


.disclaimer .container {
    padding: 20px 0 ; 
}


/* Tab's section */

.tabs-section {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
}

.tabs-section input[type='radio'] {
    display: none;
}

.tabs-label {
    padding: 10px 16px;
    cursor: pointer;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 600;
  }
  
  .tabs-label {
    margin-left: 15px;
  }

  .tabs-content {
    order: 1;
    width: 100%;
    padding: 15px;
    padding-bottom: 55px;
    background-color: var(--bg-light-color);
    background-image: url('../images/pattern-bg.png');
    display: none;

    font-family: Roboto;
    font-size: 14px;
  }

  .tabs-radio:checked + .tabs-label {
    clip-path: polygon(15% 1%, 100% 0%, 85% 100%, 0% 100%);
    background-color: var(--bg-light-color);
    background-image: url('../images/pattern-bg.png');
  }

  .tabs-radio:checked + .tabs-label + .tabs-content {
    display: initial;
  }










































/* sidebar - section */

.wraper {
    width: 255px;
    height: auto;
    background-color: var(--bg-light-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
    margin: 5px 0;
}

.title {
    width: 100%;
    background-color: var(--bg-accent-color);
    background-image: url('../images/pattern-bg.png');
    background-size: 100px;
    padding: 0px 0 6px 18px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
}

.previous-btn,
.next-btn {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.event-wrapper > div.flex {
    padding: 15px 0 6px 18px;
    gap: 8px;
}

.event-thumbnail {
    width: 60px;
    height: 70px;
}

.event-thumbnail img {
    width: 100%;
    height: 100%;
}

.event-content {
    flex-direction: column;
}

.event-title a,
.event-title a:hover,
.event-title a:active {
    color: #FFF;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.event-title a:hover {
    text-decoration-line: none;
}

.event-year,
.event-s-time,
.event-e-time {
    font-family: Roboto;
    font-size: 14px;   
}

.event_slider.slick-initialized.slick-slider.slick-dotted.slick-vertical ul {
    display: none !important;
}


.event_slider.slick-initialized.slick-slider.slick-dotted.slick-vertical > button.slick-prev:before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url('../images/pagination-arrow-left.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
    left:  50px;
    bottom: -200px;
    display: inline-block;
}
.event_slider.slick-initialized.slick-slider.slick-dotted.slick-vertical > button.slick-next:before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url('../images/pagination-arrow-right.png');
    background-size: cover;
    color: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
    right:   180px;
    bottom: -200px;
    display: inline-block;
}

.more-events {
    width: 100%;
    height: auto;
    text-align: right;
    padding: 15px;
    justify-content: space-between;
}



/* categories */

.cat-content > ul {
    margin: 0;
    padding: 0;
    padding: 0px 0 6px 18px;
}

.cat-li-a > img {
    padding-right: 12px;
}
.cat-li-a {
    color: #fff;
    text-decoration: none;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    cursor: pointer;
}

.cat-li-a:hover {
    text-decoration: underline;
}

.cat-li-a:active {
    color: #fff;
}

.sub-categories {
    padding-left: 30px;
    display: none;
}

.sub-categories > span > a {
    color: #fff;
    text-decoration: none;
}

#category-arrow {
    /* transform: rotateX(270deg); */
     /* transform: rotateY(90deg); */
    /* transform: rotateZ(90deg); */
/* 
    transform: rotate(90deg); */
}

/*  */
.weather > .wraper {
    text-align: center;
}
.weather-widget {
    width: 215px;
    min-height: 217px;
    margin: 12px auto;

}

/* Date & Time */

.current-date-and-time {
    width: 100%;
    padding: 10px 0 10px 20px;
}

.current-date {
    font-family: Oswald;
    font-size: 20px; 
    font-weight: 500;
}

.current-time {
    font-family: Oswald;
    font-size: 62px; 
    font-weight: 500;
}

/* Newsletter */

.gravity-form {
    width: 100%;
    padding: 10px 10px 10px 20px;
    text-align: center;
}

.gravity-form-group {
    background-color: var(--bg-accent-color);
    margin-bottom: 12px;
}

.gravity-form .gravity-form-group > input[type="email"] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 10px;
}

.gravity-form > input[type="submit"] {
    background-color: var(--bg-dark-color);
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
}
.btn-gravity-submit {
}

/* single.php  */

.post-content p {
    color: black;
}

.post-content p code {
    color: #000;
}

.single-heading {
    font-size: 2.75rem;
}

.post-thumbnail img {
    min-width: 40%;
    height: auto;
}

#datafetch ol li a {
    color: black;
}

nav.navigation {
    max-width: 1100px;
    background-color: rgba(13,13,13,0.64)
}

#single-home-btn {
    background-color: var(--bg-accent-color);
    margin-bottom: 15px;
    border-radius: 15px;
    transition: box-shadow 0.5s ease-out;
}

#single-home-btn:hover {
    box-shadow: 1px 1px 15px #000;
}

#single-home-btn a {
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

li a {
    color: white;
}

li a:visited,
li a:hover,
a:visited {
    color: #fff !important;
}

#page-color-issue * {
    color: #000;
}